<div class="max-width-container" style="max-width: 90vw; margin: 20px auto;">
  <%= render 'shared/searchbar' %>
  <% if params[:query].present? %>
    <p style="opacity: 0.4; margin-top: 20px;"><%= @result %> results for mentors in <%= params[:query] %></p>
  <% end  %>
  <div class="cards d-flex justify-content-between" style="flex-wrap: wrap">
    <% @mentors.each do |mentor| %>
      <div class="custom-card mb-3 mt-5">
        <div class="card-upper-part d-flex mb-3">
          <img src=<%= mentor.user.avatar %> alt="profile-picture" class="custom-avatar">
          <div class="infos" style="margin-left: 30px">
          <h2><%= mentor.user.name %></h2>
          <p><%= mentor.title %></p>
          <p class="expertise-category"><%= mentor.expertise %>
          </div>
          </div>
        <p style="opacity: 0.4"><%= mentor.description %></p>
        <p class="custom-show-btn btn btn-primary">show more</p>
        </div>
    <% end  %>
  </div>
</div>
