<div class="max-width-container" style="max-width: 90vw; margin: 20px auto;">
<%= render 'shared/searchbar' %>

<p style="opacity: 0.4">12+ results for mentors in tech</p>
<div class="cards d-flex" style="flex-wrap: wrap">
<% @mentors.each do |mentor| %>
<div class="custom-card d-flex">
<div class="custom-avatar-img">
<img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180" alt="profile-picture" class="custom-avatar">
</div>
<div class="infos" style="margin-left: 30px">
<%= mentor.user.name %>
<p><%= mentor.title %>
<p><%= mentor.expertise %>
<p><%= mentor.description %>
<p class="btn btn-primary">show more</p>
</div>
</div>
<% end  %>
</div>
</div>
