<div class="show-container">
<div class="big-custom-card">
  <div class="avatar-2 d-flex">
    <img src="<%= @mentor.user.avatar %>" alt="">
    <div style="margin-left:30px">
    <h1><%= @mentor.user.name %></h1>
    <p><%= @mentor.title %></p>
    <p><%= @mentor.expertise %></p>
    <p><%= @mentor.description %></p>
    </div>
</div>
</div>
