<div class="show-container">
  <div class="show-mentor" style="margin-bottom: 200px">
    <div class="show-mentor-info">
      <div class="show-mentor-info-profile">
        <div class="avatar-2 d-flex">
          <img src="<%= @mentor.user.avatar %>" alt="">
        </div>
          <div class="show-mentor-info-profile-descriptions" >
            <p style="margin-top: 20px">andrew@tate.com</p>
              <a class="btn btn-flat" href="#"><%= @mentor.price %>/hr</a>
          <a class="btn btn-flat" href="#"><%= @mentor.avaiability %></a>
         <%= simple_form_for [@mentor, @booking] do |f|%>
          <%= f.input :date %>
          <%= f.submit %>
         <% end %>
          </div>
      </div>
      <div class="show-mentor-info-description ml-7">
      <div class="d-flex align-items-center">
        <h1><%= @mentor.user.name %></h1>
        <span>
        <a href="https://www.linkedin.com/in/benedikt-conze-4a635a210/" style="margin-left: 10px;font-size: 20px"><i class="fab fa-linkedin"></i></a>
        </span>
        </div>
        <p><%= @mentor.title %></p>
        <div sclass="category-label me-2"></div>
        <span class="mentor-expertise"><%= @mentor.expertise %></span>
        <p style="margin-top: 20px"><%= @mentor.description %></p>
        <div class="show-mentor-info-description-buttons">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left:30px">
</div>
</div>
  <div class="custom-box-parent">
</div>


<%= render 'shared/footer' %>
